#red {
    width: 1000px;
    height: 200px;
    background-color: rgb(216, 12, 12);
}
#yellow {
    width: 1000px;
    height: 200px;
    background-color: rgb(240, 207, 24);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Five_Pointed_Star_Solid.svg/640px-Five_Pointed_Star_Solid.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13em;
    
}
#green {
    width: 1000px;
    height: 200px;
    background-color: rgb(4, 85, 4);
}
